html, body
  padding: 0
  margin: 0
  font-family: Inter, sans-serif
  height: 100vh
  background-color: $black1

.item
  color: $white1

  &__title
    text-align: center

  &__content
    width: 240px
    background-color: $black2
    margin: 0 20px
    padding: 12px
    border-radius: 4px

    &-li
      list-style: none

      background-color: $black3
      border-radius: 4px
      padding: 6px 8px
      color: $white1

      -webkit-tap-highlight-color: transparent
      cursor: pointer

      p
        margin: 0

      &:not(:last-child)
        margin-bottom: 6px

      &__header
        font-size: 14px

      &__massive
        font-size: 11px
        padding-left: 15px
        margin-top: 6px

  &__content
    &-li
      transition: all 0.15s ease

    &-enter-from, &-leave-to
      opacity: 0
      transform: translateY(32px)

    &-leave-active
      position: absolute

.body
  display: flex
  align-items: flex-start
  justify-content: center

  padding: 22px

.header
  top: 0
  left: 0
  width: 100%

  display: flex
  justify-content: space-between
  align-items: center

  &-title
    font-size: 21px
    color: $white1
    padding: 0 12px

  &-version
    font-size: 12px
    color: $white1
    margin-right: auto
    margin-top: 6px

  .languages
    display: flex
    padding: 0 12px

    &-item
      margin: 0
      padding: 0
      cursor: pointer
      opacity: .6
      transition: opacity .2s

      height: 48px

      &:hover, &--selected
        opacity: 1

      &:not(:first-child)
        margin-left: 6px

.footer
  .notifications
    position: fixed
    bottom: 8px
    left: 0
    width: 100%

    display: flex
    align-items: center
    flex-direction: column

    &__item
      max-width: 600px
      background-color: $black4
      border-radius: 4px
      padding: 9px 16px
      color: $white1
      margin: 8px 0 0
      font-size: 13px

@media (max-width: 920px)
  #root .body
    flex-direction: column
    align-items: center